@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=DM+Sans:wght@400;600&display=swap');

body { 
    margin:0;
    font-family: 'DM Sans', sans-serif;
    background-image: url('../../resources/backgroundImagine.jpeg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    text-align: center;
}




.main-bar{
    align-items: center;
    gap: 100px;
    padding: 20px;
    color: black;
}

.main-bar .logo {
    margin-left: 75px;
    margin-top: 75px;
    font-family: 'Playfair Display', serif;
    font-size: 70px;
    gap: 50px;
    align-items: center;
    display: flex;
    img{
        height: 150px;
       border-radius: 500px;

    }
}

.hero-section {
    position:fixed;
    top:100px;
    left: 50px;
    margin-top: 150px;
    align-items: center;
}

.hero-title {
    font-size: 100px;
}

.hero-subtitle {
    margin-left: 75px;
    margin-top: -60px;
    font-size: 100px;
}

.hero-description1 {
    text-align: left;
    margin-left: 80px;
    margin-top: -30px;
    font-size: 35px;
    width: 600px;
}

.hero-description2 {
    text-align: left;
    margin-left: 80px;
    margin-top: -30px;
    font-size: 35px;
    width: 700px;
}

#services
{
    position:fixed;
    bottom: 175px;
    left: 150px;
    border: hidden;
    border-radius:200px;
     background-color: #5f0d38;
    color: white;
    padding: 30px 70px;
    text-align: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
}

#join
{
    position: absolute;
    right:125px;
    top: 125px;
    border: hidden;
    border-radius:200px;
     background-color: #5f0d38;
    color: white;
    padding: 30px 100px;
    text-align: center;
    display: flex;
    font-size: 20px;
    cursor: pointer;
}